python-docx
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1
lxml==4.5.2
numpy==1.19.0
pandas==1.0.5
python-dateutil==2.8.1
python-decouple==3.3
python-docx==0.8.10
pytz==2020.1
six==1.15.0
static3==0.7.0
gunicorn==19.8.1
psycopg2==2.7.4
