{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
</br>
</br>
  <div class="intro">
  <p class="intro"><h3>Comparador de Documentos tipo .docx</h3></p>
    <p>Identifique as alterações de adição e exclusão de palavras entre dois documentos. <br/>
      Para melhor visualização, as alterações são identificadas pelas cores.
    </p>
  </div>
</div>
  <div class='formularios'>
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          <tr>
            <th class="arquivocomparar">Arquivo1.docx</th>
            <th class="arquivocomparar2" text-align='center'>Arquivo2.docx</th>
          </tr>
          <tr>
          <td>{{ form.arquivo1 }}</td>
          <td>{{ form.arquivo2 }}</td>
          </tr>
        </table>
      </br>
      </br>
      <input class="btn btn-success my-2 my-sm-0" type="submit" value="Comparar Documentos" />
    </form>
  </div>
</div>
{% endblock %}