{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
  <p class="intro"><h6>Para utilizar o programa JurisfAI, você deve inserir os dois arquivos na extensão .docx que deseja comparar.
  Clique no botão superior e carregue o arquivo original. Este arquivo será levado como base para executar a comparação. O segundo botão será usado para 
    carregar o arquivo, o qual deseja-se realizar a comparação. 
    O programa levará alguns segundos para carregar os arquivos enviados e executar a comparação.</p> 
    <p>Será então exibida uma tabela demonstrando os parágrafos de cada arquivo onde não ocorre a correspondência. A equipe vem trabalhando para melhorar a experiência de uso do usuário, 
    trazendo as não correspondências de forma mais simples e de modo a deixar visualmente mais fácil.</p> 
  </h6></p>
</div>
<div class="container mt-5">
  <h4>JurisfAI</h4>
  <div class='formularios'>
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          <tr>
            <th>Arquivo Original</th>
            <th>Arquivo Secundário</th>
          </tr>
          <tr>
          <td>{{ form.arquivo1 }}</td>
          <td>{{ form.arquivo2 }}</td>
          </tr>
        </table>
        <br>
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Comparar" />
    </form>
  </div>
  </div>
</div>
{% endblock %}