{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
  <p class="intro"><h3>Comparador de Contratos de Prestação de Serviço Canon</h3></p> 
    <p>Identifique as alterações de adição e exclusão de palavras entre o modelo de contratos de <br/>

      prestação de serviço padrão Canon e suas respectivas versões preenchidas
    </p> 
</div>
  <div class='formularios'>
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          <tr>
            <th>Contrato de Serviço</th>
            <th>Arquivo para Comparar</th>
          </tr>
          <tr>
          <td>PrestacaoServico_Canon.docx</td>
          <td>{{ form.arquivo2 }}</td>
          </tr>
        </table>
      </br>
      </br>
      <input class="btn btn-success my-2 my-sm-0" type="submit" value="Comparar Contratos" />
    </form>
  </div>
</div>
{% endblock %}