{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<p><b>Legenda:</b></p>
<p><ins>Verde: Texto adicionado</ins></p>
<p><del>Vermelho: Texto removido</del></p>
<button onclick="myfunc()" id='btn' class="btn btn-success mt-1">Clique para destacar</button>
<table class="table mt-3" border="1px">
  <thead class="thead-dark">
		<tr>
		  <th scope="col">Arquivo Original</th>
		  <th scope="col">Arquivo Secundário</th>
		</tr>
    </thead>
  <tbody>
      {% for _, record in check.iterrows %}
        <tr>
          {% for value in record %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>
<!--<button onclick="myfunc()" id='btn'>Clique para destacar</button>-->
<script src="{% static 'js/htmldiff.js' %}"></script>
{% endblock %}