{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>JurisfAI</h1>
<table class="table" border="1px">
	<thead class="thead-dark">
		<tr>
		  <th scope="col">Arquivo Original</th>
		  <th scope="col">Arquivo Secundário</th>
		</tr>
	  </thead>
	<tr>
		{% for _, record in check.iterrows %}
			<tr>
				{% for value in record %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tr>
</table>
<script>
//a função que trás a diferença destacada	
function highlight(newElem, oldElem){ 
  newElem.html(newElem.text().split('').map(function(val, i){
    return val != oldElem.text().charAt(i) ?
      "<span class='highlight'>"+val+"</span>" : 
      val;            
  }).join('')); 
}
//rodando a função sobre todas as linhas
$("table tr").each(function(index){
    a = $(this).find("td");
    first_td = a.eq(0);
    second_td = a.eq(1);    
    highlight(second_td, first_td);
  });
</script>
{% endblock %}