body {
    text-align: center;
    margin-top: auto;
}
form {
    display: inline-block;
}
img{
    border-radius: 50%;
}
.introducao{
    margin-left: auto;
    margin-right: auto;
}
label{
    margin-right: auto;
}
p.intro {
    border-top-style: inset;
    border-bottom: 0.5px solid;
}