<!DOCTYPE html>
{% load static %}
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- My css-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>JurisfAI Document Comparer!</title>
</head>
<body>
  <!-- Começa cabeçalho-->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/jurisfai.png' %}" class="img-fluid" alt="Responsive image">
      Bem Vindo à JurisfAI!
    </a>
  </nav>
  <!-- Termina cabeçalho-->
  <!--Introdução à aplicação-->
  <div class="container-fluid">
    <p><h5>Para utilizar o programa JurisfAI Document Comparer, você deve inserir os dois arquivos na extensão .docx que deseja comparar.
    Clique no botão superior e carregue o arquivo original. Este arquivo será levado como base para executar a comparação. O segundo botão será usado para 
      carregar o arquivo, o qual deseja-se realizar a comparação. 
      O programa levará alguns segundos para carregar os arquivos enviados e executar a comparação. 
      Será então exibida uma tabela demonstrando os parágrafos de cada arquivo onde não ocorre a correspondência. A equipe vem trabalhando para melhorar a experiência de uso do usuário, 
      trazendo as não correspondências de forma mais simples e de modo a deixar visualmente mais fácil. 
    </h5></p>
  </div>
  <div class="container mt-5">
    <h2>JurisfAI Document Comparer</h2>
    <div class='formularios'>
        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
          <label>Arquivo Original </label>{{ form.arquivo1 }}
          </div>
          <div class="form-group">
            <label>Arquivo Secundário </label>{{ form.arquivo2 }}
          </div>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Comparar" />
      </form>
    </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
 </html>
