body {
    text-align: center;
    margin-top: auto;
}
form {
    display: inline-block;
}
img{
    border-radius: 50%;
}
.introducao{
    margin-left: auto;
    margin-right: auto;
}
label{
    margin-right: auto;
}
p.intro {
    border-top-style: inset;
    border-bottom: 0.5px solid;
}
form{
    position: relative;
    left: 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* html diff*/
ins {
    background: lightgreen;
    text-decoration: none;
}
  
del {
    background: pink;
}
