body {
    text-align: center;
    margin-top: auto;
}
.navbar-default {
    box-shadow: none;
    border: none;
}
h3 {
    font-weight: bold;
}

form {
    display: inline-block;
}
img{
    border-radius: 50%;
}
.introducao{
    margin-left: auto;
    margin-right: auto;
}
label{
    margin-right: auto;
}
form{
    position: relative;
    left: 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* html diff*/
ins {
    background: lightgreen;
    text-decoration: none;
}
  
del {
    background: pink;
}

nav {
    border-bottom: #1f1a1a;
    border: 0.5px;
}